.contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  font-family: "Quicksand", sans-serif;
  padding: 50px;
}
form{
  margin-left: 15px;
}
input,
textarea {
  width: 40vw;
  border: 2px solid transparent;
  margin: 5px;
  padding: 5px;
  background-color: transparent;
  color: gold;
  font-size: 1.3em;
  font-family: "Quicksand", sans-serif;
}
textarea{
  height: 20vw;
}
.contact ul li:nth-child(1n + 1) {
  border-bottom: 1px solid gold;
}
.avatar {
  align-self: center;
  margin: 0 auto;
  background-image: url("images/myAvatar.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 21vw;
  width: 21vw;
  border-radius: 50%;
  border: 3px solid white;
  text-align: center;
  margin-bottom: 25px;
}
h4 {
  display: inline-block;
  color: gold;
  font-size: 2em;
  position: relative;
  top: 101%;
  text-shadow: 2px 2px 2px black;
  font-family: "Lobster", cursive;
  line-height: 50px;
}
input::placeholder,textarea::placeholder,input[value="send"]{
color: white;
font-family: "Quicksand", sans-serif;
text-align: left;
}
input[value="send"]:hover{
 color: gold;
 transition: color 1s;
}