@import url("https://fonts.googleapis.com/css?family=Lobster|Quicksand|Amatic+SC&display=swap");
@import url("../src/css/nav.css");
@import url("../src/css/about.css");
@import url("../src/css/projects.css");
@import url("../src/css/contact.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
*:before,
*:after {
 box-sizing: border-box;
}
html,body {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  position: relative;
  background: url(images/background.jpg) no-repeat center center fixed;
}
/* border page */

#top, #bottom, #left, #right {
	background: gold;
  position: fixed;
  z-index:1;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 5px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 5px;
		}
		#top { top: 0; }
    #bottom { bottom: 0; }
    
    .App{
      height:100vh;
    }

#root{
  min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding: 20px 20px 100px 20px; /* height of your footer */
}
.responsive {
  display: none;
}
.projects,
.about,
.contact {
  margin: 15px auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.center{
  text-align:center;
}
.divider{
  width: 111px;
  display: inline-block;
  border: none;
  border-bottom: 5px solid gold;
}
h1 {
  font-size: 60px;
  color: white;
  /* margin: 70px 0 70px 0; */
  text-align:center;
  font-family: 'Amatic SC', cursive;
}
h3,
p,
a,
i,
span {
  color: white;
}
.goback {
  font-size: 2em;
}
.goback:hover {
  color: black;
  transition: color 1s;
}
.navstyle {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
}
.navstyle i {
  color: grey;
  font-size: 2em;
  padding:5px;
}
.navstyle a,li {
  padding: 0 3% 0 3%;
}
.navstyle i:hover {
  color: gold;
  transition: color 1s;
}
/* footer end */

/* animation */

.puff-in-center{animation:puff-in-center .7s cubic-bezier(.47,0.000,.745,.715) both}

/* keyframes */

@keyframes puff-in-center{0%{transform:scale(2);filter:blur(4px);opacity:0}100%{transform:scale(1);filter:blur(0);opacity:1}}
